body {
  background: #f2f0f2;
  margin: 0;
  font-family: Arial;
}

input,
button {
  padding: 0.5rem;
}

#messages {
  list-style: none;
  padding-left: 0;
  max-width: 400px;
}

#messages li {
  background: lightblue;
  border-radius: 10px;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

#messages li.own {
  background: #f2f2f2;
}

nav {
  background: #304d86;
  padding: 0.5rem;
  color: white;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

nav a {
  color: white;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 10px;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#currentUser, #currentRoom {
  font-weight: bold;
}